@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #ECF0F1;
  color: #fff;
  font-weight: 100;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card-carousel {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #2c3e50;
  width: 21rem;
  height: 27rem;
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, 0.15);
}
.card-carousel:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.84);
}
.card-carousel header {
  position: absolute;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
  background-color: rgba(155, 89, 182, 0.84);
  z-index: 10;
}
.card-carousel header .view, .card-carousel header .heart {
  position: absolute;
  top: 8px;
  height: 2rem;
  width: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transition: border-color 0.2s ease;
          transition: border-color 0.2s ease;
}
.card-carousel header .view:hover, .card-carousel header .heart:hover {
  cursor: pointer;
  border-color: #fff;
}
.card-carousel header .view {
  right: 3.5rem;
}
.card-carousel header .view:before {
  content: "\f064";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
}
.card-carousel header .heart {
  right: 1rem;
}
.card-carousel header .heart:before {
  content: "\f004";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
}

.content-wrapper {
  position: absolute;
  padding-top: 3rem;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
}
.content-wrapper.twentyfive:before {
  background: url(../2.jpg);
  background-size: cover;
}
.slide .content-wrapper.twentyfive {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.content-wrapper.twentysix {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.content-wrapper.twentysix:before {
  background: url(http://i102.photobucket.com/albums/m104/GovernorFancyPants/Codepen/bob_dylan_zps13c80b3d.jpg);
  background-size: cover;
}
.slide .content-wrapper.twentysix {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.content-wrapper:before {
  content: "";
  position: absolute;
  opacity: 0.2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content-wrapper .content {
  position: relative;
  padding: 3rem;
  text-align: center;
}
.content-wrapper .content .quote {
  position: relative;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}
.content-wrapper .content .quote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 32px;
  top: -2rem;
  left: -1rem;
}
.content-wrapper .content name {
  line-height: 1.2;
}

.pagination {
  position: absolute;
  bottom: 0;
  height: 4em;
  width: 100%;
  padding: 1em;
  z-index: 10;
}
.pagination .prev, .pagination .next {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transition: border-color 0.2s ease;
          transition: border-color 0.2s ease;
  cursor: pointer;
}
.pagination .prev:hover, .pagination .next:hover {
  border-color: #fff;
}
.pagination .prev:before, .pagination .next:before {
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
}
.pagination .prev {
  left: 1rem;
}
.pagination .prev:before {
  content: "\f0d9";
  top: 7px;
  left: 10px;
}
.pagination .next {
  right: 1em;
}
.pagination .next:before {
  content: "\f0da";
  top: 7px;
  left: 13px;
}

.hearted {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 120px;
  height: 120px;
}
.like .hearted:before {
  content: "\f004";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 110px;
  line-height: 1;
  -webkit-animation: heartbeat 1s linear 1 forwards;
          animation: heartbeat 1s linear 1 forwards;
}

.avatar {
  position: absolute;
  width: 100%;
  bottom: -2rem;
  text-align: center;
}
.avatar img {
  width: 100px;
  height: 100px;
  border: 4px solid #fff;
  border-radius: 100%;
  -webkit-transition: opacity 2s ease;
          transition: opacity 2s ease;
}
.avatar img.twentyfive {
  opacity: 1;
}
.slide .avatar img.twentyfive {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
.avatar img.twentysix {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
.slide .avatar img.twentysix {
  visibility: visible;
  position: static;
  opacity: 1;
}

@-webkit-keyframes heartbeat {
  /*0% { font-size: 32px; opacity: 0; }
  25% { font-size: 48px; opacity: 1; }
  50% { font-size: 32px; opacity: .5; }
  75% { font-size: 48px; opacity: 1; }
  100% { font-size: 32px; opacity: 0; }*/
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    opacity: .5;
  }
  60% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
}

@keyframes heartbeat {
  /*0% { font-size: 32px; opacity: 0; }
  25% { font-size: 48px; opacity: 1; }
  50% { font-size: 32px; opacity: .5; }
  75% { font-size: 48px; opacity: 1; }
  100% { font-size: 32px; opacity: 0; }*/
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    opacity: .5;
  }
  60% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0;
  }
}
